<?xml version="1.0" encoding="UTF-8"?>
<config>
 <object id="1" instances_count="1">
  <metadata type="object" key="name" value="rib-index-0.1.0-next+20250724062335.stl"/>
  <volume firstid="0" lastid="367">
   <metadata type="volume" key="name" value="rib-index-0.1.0-next+20250724062335.stl"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
   <metadata type="volume" key="source_file" value="x-2riin@0.1.0n-2rimi@0.1.0n-2riri@0.1.0n-2ripi@0.1.0n-2rithin@0.1.0n-20250724062335.3mf"/>
   <metadata type="volume" key="source_object_id" value="0"/>
   <metadata type="volume" key="source_volume_id" value="0"/>
   <metadata type="volume" key="source_offset_x" value="0"/>
   <metadata type="volume" key="source_offset_y" value="0"/>
   <metadata type="volume" key="source_offset_z" value="0"/>
   <mesh edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
  </volume>
 </object>
 <object id="2" instances_count="1">
  <metadata type="object" key="name" value="rib-index-0.1.0-next+20250724062335.stl"/>
  <volume firstid="0" lastid="367">
   <metadata type="volume" key="name" value="rib-index-0.1.0-next+20250724062335.stl"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
   <metadata type="volume" key="source_file" value="x-2riin@0.1.0n-2rimi@0.1.0n-2riri@0.1.0n-2ripi@0.1.0n-2rithin@0.1.0n-20250724062335.3mf"/>
   <metadata type="volume" key="source_object_id" value="1"/>
   <metadata type="volume" key="source_volume_id" value="0"/>
   <metadata type="volume" key="source_offset_x" value="0"/>
   <metadata type="volume" key="source_offset_y" value="0"/>
   <metadata type="volume" key="source_offset_z" value="0"/>
   <mesh edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
  </volume>
 </object>
 <object id="3" instances_count="1">
  <metadata type="object" key="name" value="rib-middle-0.1.0-next+20250724062335.stl"/>
  <volume firstid="0" lastid="371">
   <metadata type="volume" key="name" value="rib-middle-0.1.0-next+20250724062335.stl"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
   <metadata type="volume" key="source_file" value="x-2riin@0.1.0n-2rimi@0.1.0n-2riri@0.1.0n-2ripi@0.1.0n-2rithin@0.1.0n-20250724062335.3mf"/>
   <metadata type="volume" key="source_object_id" value="2"/>
   <metadata type="volume" key="source_volume_id" value="0"/>
   <metadata type="volume" key="source_offset_x" value="0"/>
   <metadata type="volume" key="source_offset_y" value="0"/>
   <metadata type="volume" key="source_offset_z" value="0"/>
   <mesh edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
  </volume>
 </object>
 <object id="4" instances_count="1">
  <metadata type="object" key="name" value="rib-middle-0.1.0-next+20250724062335.stl"/>
  <volume firstid="0" lastid="371">
   <metadata type="volume" key="name" value="rib-middle-0.1.0-next+20250724062335.stl"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
   <metadata type="volume" key="source_file" value="x-2riin@0.1.0n-2rimi@0.1.0n-2riri@0.1.0n-2ripi@0.1.0n-2rithin@0.1.0n-20250724062335.3mf"/>
   <metadata type="volume" key="source_object_id" value="3"/>
   <metadata type="volume" key="source_volume_id" value="0"/>
   <metadata type="volume" key="source_offset_x" value="0"/>
   <metadata type="volume" key="source_offset_y" value="0"/>
   <metadata type="volume" key="source_offset_z" value="0"/>
   <mesh edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
  </volume>
 </object>
 <object id="5" instances_count="1">
  <metadata type="object" key="name" value="rib-ring-0.1.0-next+20250724062335.stl"/>
  <volume firstid="0" lastid="367">
   <metadata type="volume" key="name" value="rib-ring-0.1.0-next+20250724062335.stl"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
   <metadata type="volume" key="source_file" value="x-2riin@0.1.0n-2rimi@0.1.0n-2riri@0.1.0n-2ripi@0.1.0n-2rithin@0.1.0n-20250724062335.3mf"/>
   <metadata type="volume" key="source_object_id" value="4"/>
   <metadata type="volume" key="source_volume_id" value="0"/>
   <metadata type="volume" key="source_offset_x" value="0"/>
   <metadata type="volume" key="source_offset_y" value="0"/>
   <metadata type="volume" key="source_offset_z" value="0"/>
   <mesh edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
  </volume>
 </object>
 <object id="6" instances_count="1">
  <metadata type="object" key="name" value="rib-ring-0.1.0-next+20250724062335.stl"/>
  <volume firstid="0" lastid="367">
   <metadata type="volume" key="name" value="rib-ring-0.1.0-next+20250724062335.stl"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
   <metadata type="volume" key="source_file" value="x-2riin@0.1.0n-2rimi@0.1.0n-2riri@0.1.0n-2ripi@0.1.0n-2rithin@0.1.0n-20250724062335.3mf"/>
   <metadata type="volume" key="source_object_id" value="5"/>
   <metadata type="volume" key="source_volume_id" value="0"/>
   <metadata type="volume" key="source_offset_x" value="0"/>
   <metadata type="volume" key="source_offset_y" value="0"/>
   <metadata type="volume" key="source_offset_z" value="0"/>
   <mesh edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
  </volume>
 </object>
 <object id="7" instances_count="1">
  <metadata type="object" key="name" value="rib-pinkie-0.1.0-next+20250724062335.stl"/>
  <volume firstid="0" lastid="367">
   <metadata type="volume" key="name" value="rib-pinkie-0.1.0-next+20250724062335.stl"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
   <metadata type="volume" key="source_file" value="x-2riin@0.1.0n-2rimi@0.1.0n-2riri@0.1.0n-2ripi@0.1.0n-2rithin@0.1.0n-20250724062335.3mf"/>
   <metadata type="volume" key="source_object_id" value="6"/>
   <metadata type="volume" key="source_volume_id" value="0"/>
   <metadata type="volume" key="source_offset_x" value="0"/>
   <metadata type="volume" key="source_offset_y" value="0"/>
   <metadata type="volume" key="source_offset_z" value="0"/>
   <mesh edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
  </volume>
 </object>
 <object id="8" instances_count="1">
  <metadata type="object" key="name" value="rib-pinkie-0.1.0-next+20250724062335.stl"/>
  <volume firstid="0" lastid="367">
   <metadata type="volume" key="name" value="rib-pinkie-0.1.0-next+20250724062335.stl"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
   <metadata type="volume" key="source_file" value="x-2riin@0.1.0n-2rimi@0.1.0n-2riri@0.1.0n-2ripi@0.1.0n-2rithin@0.1.0n-20250724062335.3mf"/>
   <metadata type="volume" key="source_object_id" value="7"/>
   <metadata type="volume" key="source_volume_id" value="0"/>
   <metadata type="volume" key="source_offset_x" value="0"/>
   <metadata type="volume" key="source_offset_y" value="0"/>
   <metadata type="volume" key="source_offset_z" value="0"/>
   <mesh edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
  </volume>
 </object>
 <object id="9" instances_count="1">
  <metadata type="object" key="name" value="rib-three-index-0.1.0-next+20250724062335.stl"/>
  <volume firstid="0" lastid="295">
   <metadata type="volume" key="name" value="rib-three-index-0.1.0-next+20250724062335.stl"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
   <metadata type="volume" key="source_file" value="x-2riin@0.1.0n-2rimi@0.1.0n-2riri@0.1.0n-2ripi@0.1.0n-2rithin@0.1.0n-20250724062335.3mf"/>
   <metadata type="volume" key="source_object_id" value="8"/>
   <metadata type="volume" key="source_volume_id" value="0"/>
   <metadata type="volume" key="source_offset_x" value="0"/>
   <metadata type="volume" key="source_offset_y" value="0"/>
   <metadata type="volume" key="source_offset_z" value="0"/>
   <mesh edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
  </volume>
 </object>
 <object id="10" instances_count="1">
  <metadata type="object" key="name" value="rib-three-index-0.1.0-next+20250724062335.stl"/>
  <volume firstid="0" lastid="295">
   <metadata type="volume" key="name" value="rib-three-index-0.1.0-next+20250724062335.stl"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
   <metadata type="volume" key="source_file" value="x-2riin@0.1.0n-2rimi@0.1.0n-2riri@0.1.0n-2ripi@0.1.0n-2rithin@0.1.0n-20250724062335.3mf"/>
   <metadata type="volume" key="source_object_id" value="9"/>
   <metadata type="volume" key="source_volume_id" value="0"/>
   <metadata type="volume" key="source_offset_x" value="0"/>
   <metadata type="volume" key="source_offset_y" value="0"/>
   <metadata type="volume" key="source_offset_z" value="0"/>
   <mesh edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
  </volume>
 </object>
</config>
